.container{
    padding: 10px;
    border-radius: 10px;
    border: 10px solid black;  
    width: 400px;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
button{
    margin-left: 10px;
    background: gray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#counter{
    padding: 5px;
    border-radius: 10px;
    width: 100px;
    margin-left: 130px;
    margin-bottom: 10px;
    background: gray;
    

}
